name: Code Cov Workflow

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    name: "Codecov"
    steps:
      - uses: actions/checkout@v4
      - name: Setup java 17
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build project
        uses: gradle/gradle-build-action@v2.11.1
        with:
          arguments: test jacocoTestReport
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
      - name: Upload test report
        uses: actions/upload-artifact@v3
        with:
          path: build/reports/tests/test/
          name: Test Report
          retention-days: 14
      - name: Upload coverage report
        uses: actions/upload-artifact@v3
        with:
          path: build/reports/jacoco/test/
          name: Coverage Report
          retention-days: 14