on:
  # The issues event below is only needed for the default (auto) mode,
  # you can remove it otherwise
  issues:
    types: [ assigned ]

jobs:
  create_issue_branch_job:
    runs-on: ubuntu-latest
    steps:
      - name: Create Issue Branch
        uses: RealYusufIsmail/Armour-and-Tools-Mod@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
